.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0deg 0% 14%);
    color: white;
}

.aboutContainer{
    height: 30rem;
    width: 40rem;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding: 2rem;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(76, 73, 73);
}

.checkOutButtonStyle{
    width: "40rem";
    margin-right: "2rem";
    height: "3.25rem";
    font-size: "2.12";
}