nav{
    background-color: var(--background-color);
    color: white;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: baseline;
    padding: 0 5rem;
    position: fixed;
    z-index: 2;
}

/* Logo */
.linkLogo{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 1.875rem;
    font-weight: 800;
}

/* navigation */
.navLinks{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 40px;
    list-style: none;
}

li{
    cursor: pointer;
    padding: 0.625rem;
    border-radius: 5px;
}

li:hover{
    background-color: #a3a0a041;;
}

.link{
    text-decoration: none;
    color: white;
    font-size: 18px;
}


/* User login navigation */

.userNav{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.cartProfile{
    font-size: 1.563rem;
    display: flex;
    margin-right: 1rem;
}

.logoutBtn{
    cursor: pointer;
    height: 2.5rem;
    width: 5.625rem;
    font-size: 1rem;
    border-radius: var(--button-radius);
    color: white;
    border: 1px solid white;
    background-color: var(--background-color);
}

.logoutBtn:active{
    background-color: white;
    color: black;
}

/* Dashboard */
.dashboard{
    font-size: 18px;    
    margin-right: 1rem;
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 0.625rem;
    border-radius: 5px;
}

.dashboard:hover{
    background-color: #a3a0a041;;
}

/* cart & profile icon */
.cart, .profile {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.cart{
    position: relative;
}

.count{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
    right: 5%;
    height: 20px;
    width: 20px;
    background-color: hsl(0, 100%, 50%);
    border-radius: 50%;
    font-size: 15px;
    font-weight: 800; 
}


.cart:hover, .profile:hover {
    background-color: #a3a0a041;
}

.cart:active, .profile:active {
    opacity: 0.9;
}

/* ------- */
/* signin navigation */
.signin{
    display: flex;
    align-items: center;
    margin-left: auto;
}


/* sign in & sign up */

.signinBtn{
    cursor: pointer;
    border: 1px solid #007ea7;
    background-color: #007ea7;
    color: white;
    margin: 5px;
    height: 2.5rem;
    width: 5.625rem;
    font-size: 1rem;
    border-radius: var(--button-radius);
}

.signinBtn:active{
    background-color: white;
    border: 1px solid white;
    color: black;
}

.signupBtn{
    cursor: pointer;
    margin: 5px;
    height: 2.5rem;
    width: 5.625rem;
    font-size: 1rem;
    color: white;
    border-radius: var(--button-radius);
    border: 1px solid white;
    background-color: var(--background-color);
}

.signupBtn:active{
    color: black;
    background-color: white;
}


@media only screen and (max-width: 600px){
    nav{
        padding: 0 10px;
        height: 8vh;
    }

    .navLinks{
        display: none;
    }
}
