.card{
    background-color: white;
    width: 250px;
    height: 320px;
    margin: 30px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: 400ms all;    
    border:none;
    box-shadow: 0 0 10px black;
}

.containerImg{
    height: 50%;
}

img{
    height: 100%;
    width: 100%;
    background-color:rgb(212, 202, 202);
    border-radius: 10px 10px 0px 0px;
}

.body{
    padding: 10px 15px 0 ;
}

.title{
    font-size: 1.25rem;
    text-align: center;
    height: 30px;
    overflow: hidden;
    color: black;
    font-weight: 600;
}

.title:hover{
    color: grey;
}

.price{
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
    text-align: center;
}

.btn{
    cursor: pointer;
    height: 40px;
    color: black;
    font-size: 16px;
    width: 100%;
    border-radius: var(--button-radius);
    display: none;
    margin-top: auto;
}

.btn:hover{
    background-color: rgb(48, 167, 21);
    border: none;
    color: rgb(236, 228, 228);
}

.btn:active{
    background-color: rgb(59, 233, 20);
    border: none;
    color: rgb(236, 228, 228);
}

.card:hover .btn{
    display: block;
}






.card .body-container{
    height: 100%;
    padding: 10px 35px 20px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

.body-container .title{
    text-align: center;
    height: 30%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    color: black;
}

.body-container .price{
    justify-content: flex-end;
    font-size: 25px;
    font-weight: 500;
    transform: translateY(2) 500ms all;
}

.addtocart{
    cursor: pointer;
    height: 40px;
    color: black;
    font-size: 16px;
    width: 100%;
    border-radius: var(--button-radius);
    display: block;
    margin-top: auto;
}

.addtocart:hover{
    background-color: rgb(48, 167, 21);
    border: none;
    color: rgb(236, 228, 228);
}

.addtocart:active{
    background-color: rgb(59, 233, 20);
    border: none;
    color: rgb(236, 228, 228);
}

.card:hover{
    transform: scale(1.05);    
}

/* .card:hover .addtocart{
    display: block;
} */
