.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
}

.mapContainer{
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}