.bg{
    background-color: hsl(0deg 0% 14%);
}

.container{
    height: 100vh;
    width: 100%;
    background: url(../assets/Vector.svg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.content{
    margin-left: 10rem;

}

.banner{
    color: white;
    width: 50rem;
    font-size: 4rem;
    margin-bottom: 1.8rem;
}

.btn{
    cursor: pointer;
    padding: 12px 30px;
    font-size: 1.1rem;
    border-radius: 8px;
    border: none;
    background-color: #007ea7;
    color: white;
    border: none;
}

.btn:hover{
    opacity: 0.8;
}

.btn:active{
    background-color: white;
    border: 1px solid white;
    color: black;
}

/* for card cotent container */
.cardContentContainer{
    padding: 5rem 10rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0deg 0% 14%);
}

.cardContent{
    height: 10rem;
    border: 1px solid white;
    background-color: none;
    color: white;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
}

