.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0deg 0% 14%);
}

.loginForm{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 1px solid black;
    background-color: white;
    height: 25rem;
    width: 35rem;
}

.loginLabel{
    margin: 0 auto;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.email{
    height: 2rem;
    border-radius: 3px;
    border: 0.5px solid grey;
    font-size: 1.2rem;
    padding: 4px;
    margin: 0.3rem 0 1.2rem 0;
}

.password{
    height: 2rem;
    border-radius: 3px;
    border: 0.5px solid grey;
    font-size: 1.2rem;
    padding: 4px;
    margin: 0.3rem 0 0.9rem 0;
}

.email:focus{
    box-shadow: 0 0 3px blue;
    outline: none;
}

.password:focus{
    box-shadow: 0 0 3px blue;
    outline: none;
}

.forgot:hover{
    color: blue;
}

.btn{
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 1.2rem;
    padding: "0.4rem 0";
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #007ea7;
    height: 2.3rem;
}

.btn:hover{
    opacity: 0.8;
}

.btn:active{
    background-color: #07a0d3;
}

.btn:disabled,
.btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
