.mainContainer{
    min-height: 100vh;
    background-color: hsl(0deg, 0%, 17%);
    padding: 10rem 15rem 5rem;
    color: white;
    min-width: 40rem;
}

.container{
    display: flex;
}

.img{
    height: 20rem;
    width: 22rem;
}

.title{
    min-height: 4.2rem;
    margin-bottom: 2rem;
}

.price{
    font-size: 2rem;
    padding: 1rem 0;
}

.containerBody{
    margin-left: 1rem;
    padding:  1rem 1rem;
    display: inline;
    position: relative;
    min-height: 20rem;
    width: 100%;
    border: 1px solid grey;
    border-radius: 10px;
}

.positionBtn{
    margin-top: 5rem;
    position: absolute;
    bottom: 0%;
}

.description{
    display: block;
    color: white;
    border: 1px solid grey;
    background-color: hsl(0deg, 0%, 17%);
    width: 100%;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 10px;
}