.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0deg 0% 14%);
}

.registerForm{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 1px solid black;
    background-color: white;
    height: 37rem;
    width: 35rem;
}

.registerLabel{
    margin: 0 auto;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

input{
    height: 2rem;
    border-radius: 3px;
    border: 0.5px solid grey;
    font-size: 1.2rem;
    padding: 4px;
    margin: 0.3rem 0 0.2rem 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus{
    box-shadow: 0 0 3px blue;
    outline: none;
}

.btn{
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 0.5rem;
    padding: "0.4rem 0";
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #007ea7;
    height: 2.3rem;
}

.btn:hover{
    opacity: 0.8;
}

.btn:active{
    background-color: #07a0d3;
}

.btn:disabled,
.btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}