@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&display=swap');

:root{
    --font-poppine: 'Poppins', sans-serif;
    --button-radius: 5px;
    --button-color1: #007ea7;
    --btn-color2: #0b890b;
    --background-color: hsl(0deg 0% 14%);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family:  var(--font-poppine);
    /* background-color: var(--background-color); */
}

.app-container{
  padding: 15vh 10%;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(80, 78, 78);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(129, 126, 126);
}




@media only screen and (max-width: 600px){

  .app-container{
    padding: 15vh 2%;
  }


}